body{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    background-color:azure;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.logotipo{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}
.logotipo h1{
    font-size:2em;
    text-shadow: 2px 3px 5px darkgrey;

}

.contenido-principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: flex-start;
}

.inputTexto{
    padding: 15px;
    border-color: aqua;
    font-size: larger;
    font-family: inherit;
    resize: vertical;
}
.botones{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
}
.copiar, .encriptar, .desencriptar, .pegar  {
    background-color: #0796a7;/* Color de fondo */
    border: none;/* Sin bordes */
    color: white;/* Color del texto */
    font-family: inherit; /*fuente del texto del boton*/
    padding: 5px 20px;/* Espaciado interno */
    cursor: pointer;/* Cursor */
    border-radius: 12px;/* Bordes redondeados */
    
}

.mensaje{
    padding: 15px;
    border-color: aqua;
    font-size: larger;
    font-family: inherit;
    resize: vertical;
}
.mensaje{
    background: url(imagenes/lupa.png);
    background-size:cover;   
}

footer {
    text-align: center;
    background: url(imagenes/bg_footer.jpg);
    background-size: auto;
    padding: 20px;
    margin-top: auto;
}
